<div class="cards">
  <div class="card">
    <div class="card-header">
      Meu post incrivel
    </div>
    <div class="card-body">
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="card-footer">
      Publicado em 10/10/2010
    </div>
  </div>
</div>
